*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.root {
  padding-top: 50px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

.main-header {
  display: flex;
  justify-content: space-evenly;
}

.poke-list {
  padding-top: 5%;
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-title {
  visibility: hidden;
}

.pokemon-card__picture {
  width: 200px;
}

.poke-list__pokemon {
  padding-right: 40px;
  text-align: center;
}
.poke-card {
  padding-bottom: 70px;
}
